<!DOCTYPE html>
<html lang="en" ng-app="FreqtradeApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>freqtrade backtest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        #graph {
            min-height: 80vh;
        }

        #indicators2 {
            min-height: 20vh;
        }

        .spinner {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            width: 2em;
            margin-left: auto;
            margin-right: auto;
        }

        .spinner span {
            width: 0.3em;
            height: 1em;
            background-color: #e4001e;
        }

        .spinner span:nth-of-type(1) {
            animation: grow 1s -0.45s ease-in-out infinite;
        }

        .spinner span:nth-of-type(2) {
            animation: grow 1s -0.3s ease-in-out infinite;
        }

        .spinner span:nth-of-type(3) {
            animation: grow 1s -0.15s ease-in-out infinite;
        }

        .spinner span:nth-of-type(4) {
            animation: grow 1s ease-in-out infinite;
        }

        @keyframes grow {
            0%,
            100% {
                transform: scaleY(1);
            }

            50% {
                transform: scaleY(2);
            }
        }

    </style>

</head>
<body ng-controller="BacktestController">
<header class="container-fluid">
    <!-- config -->
    <div class="row">
        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="strategyInput" class="col-form-label-sm">Strategy</label>
                <input type="text" ng-model="config.strategy" class="form-control form-control-sm" id="strategyInput"
                       aria-describedby="strategyHelp"
                       placeholder="Strategy name">
                <small id="strategyHelp" class="form-text text-muted">
                    Specify strategy class name
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="pairInput" class="col-form-label-sm">Pair</label>
                <input type="text" ng-model="config.pairs[0]" class="form-control form-control-sm" id="pairInput"
                       aria-describedby="pairHelp"
                       placeholder="Pair">
                <small id="pairHelp" class="form-text text-muted">
                    Show profit for this pair ( only one for now )
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="timerangeInput" class="col-form-label-sm">Timerange</label>
                <input type="text" ng-model="config.timerange" class="form-control form-control-sm" id="timerangeInput"
                       aria-describedby="timerangeHelp"
                       placeholder="Timerange">
                <small id="timerangeHelp" class="form-text text-muted">
                    Specify what timerange of data to use.
                </small>
            </div>
            <div class="form-check">
                <input class="form-check-input form-control-sm" ng-model="config.refresh_pairs" type="checkbox" value=""
                       id="refreshInput">
                <label class="form-check-label col-form-label-sm" for="refreshInput">
                    Refresh pairs cached
                </label>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="indicators1Input" class="col-form-label-sm">Indicators</label>
                <input type="text" ng-model="config.indicators1" class="form-control form-control-sm"
                       id="indicators1Input"
                       aria-describedby="indicators1Help"
                       placeholder="Indicators list">
                <small id="indicators1Help" class="form-text text-muted">
                    Set indicators from your strategy you want in the first row of the graph.
                    Comma-separated list.<br/>
                    Example:<br/>
                    `<i>ema3,ema5</i>`.
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="indicators2Input" class="col-form-label-sm">Indicators</label>
                <input type="text" ng-model="config.indicators2" class="form-control form-control-sm"
                       id="indicators2Input"
                       aria-describedby="indicators2Help"
                       placeholder="Indicators list">
                <small id="indicators2Help" class="form-text text-muted">
                    Set indicators from your strategy you want in the third row of the graph. Comma-separated list.
                    <br/>
                    Example:<br/>
                    `fastd,fastk`.
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="configInput" class="col-form-label-sm">Config</label>
                <input type="text" ng-model="config.config[0]" class="form-control form-control-sm" id="configInput"
                       aria-describedby="configHelp"
                       placeholder="File path">
                <small id="configHelp" class="form-text text-muted">
                    Specify configuration file. ( Only one for now )
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="datadirInput" class="col-form-label-sm">Data directory</label>
                <p class="input-group">
                    <input type="text"
                           class="form-control form-control-sm"
                           ng-model="config.datadir"
                           id="datadirInput"
                           aria-describedby="datadirHelp"
                           placeholder="Directory path"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="selectFolder('datadir')">
                            <i class="fa fa-folder-open"></i>
                        </button>
                    </span>
                </p>
                <small id="datadirHelp" class="form-text text-muted">
                    Path to directory with historical backtesting data.
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="userdirInput" class="col-form-label-sm">Userdata directory</label>
                <p class="input-group">
                    <input type="text"
                           class="form-control form-control-sm"
                           ng-model="config.user_data_dir"
                           id="userdirInput"
                           aria-describedby="userdirHelp"
                           placeholder="Directory path"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="selectFolder('user_data_dir')">
                            <i class="fa fa-folder-open"></i>
                        </button>
                    </span>
                </p>
                <small id="userdirHelp" class="form-text text-muted">
                    Path to userdata directory.
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="strategydirInput" class="col-form-label-sm">Strategy directory</label>
                <p class="input-group">
                    <input type="text"
                           class="form-control form-control-sm"
                           ng-model="config.strategy_path"
                           id="strategydirInput"
                           aria-describedby="strategydirHelp"
                           placeholder="Directory path"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="selectFolder('strategy_path')">
                            <i class="fa fa-folder-open"></i>
                        </button>
                    </span>
                </p>
                <small id="strategydirHelp" class="form-text text-muted">
                    Specify additional strategy lookup path.
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="exportfilenameInput" class="col-form-label-sm">Export filename</label>
                <input type="text" ng-model="config.exportfilename" class="form-control form-control-sm"
                       id="exportfilenameInput"
                       aria-describedby="exportfilenameHelp"
                       placeholder="path to json file">
                <small id="exportfilenameHelp" class="form-text text-muted">
                    Save backtest results to the file with this filename
                    <br/>
                    Example:<br/>
                    `user_data/backtest_results/backtest-result.json`.
                </small>
            </div>
        </div>

        <div class="col-12 col-md-2">
            <div class="form-group">
                <label for="exportInput" class="col-form-label-sm">Export</label>
                <input type="text" ng-model="config.export" class="form-control form-control-sm"
                       id="exportInput"
                       aria-describedby="exportHelp"
                       placeholder="trades">
                <small id="exportHelp" class="form-text text-muted">
                    Export backtest results, argument are: trades.
                </small>
            </div>
        </div>

        <!-- controls -->

        <div class="col-12 text-center">
            <button class="btn btn-danger" ng-click="restoreConfig()">Reset</button>
            <button class="btn btn-success" ng-click="storeConfig()">Save</button>
            <button class="btn btn-primary" ng-click="startBacktest()" ng-hide="loading">Backtest</button>
            <div class="spinner" ng-show="loading">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>
</header>

<!-- charts -->

<section class="container-fluid">
    <div id="graph"></div>
    <div id="indicators2"></div>
</section>

<!-- scripts -->

<script type="module">
    <% include 'static/plot_backtest.js' % >
</script>

<script type="text/ng-template" id="folder_select.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Folder selection</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="col-12">
            <div class="form-group">
                <input type="text" ng-model="selected" class="form-control form-control-sm"
                       placeholder="directory">
            </div>
        </div>
        <ul>
            <li ng-repeat="dir in items track by dir">
                <a href="#" ng-click="select($event, dir)">{{ dir }}</a>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="confirm()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

</body>
</html>